@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand:700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


$nav-color: #57bacc;
$hover-color: #666666;
$text-color: #ffffff; 
$header-font:'Quicksand', sans-serif;
$content-font: 'Raleway', sans-serif;
$title-font: 'Montserrat', sans-serif;


html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 50px;
}

nav {

	width: 100%; 
	left: 0px; 
	top: 0px;
	z-index: 1;
	background: linear-gradient(to right, $nav-color, $text-color); 
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none; 
		margin-left: 15px;
		padding-top: 0.5em;
		font-family: $header-font;

	}

	li {
		display: inline-block;
	}

	a {
		color: $text-color;
		display: inline-block;
		padding: 10px 16px;
		text-decoration: none;
	}

	a:visited {
		color: $text-color;
	}

	a:hover{
		color: $hover-color;
	}

	a:link {
		text-decoration: none;
	}
}	

footer {
	background: linear-gradient(to right, $nav-color, $text-color); 
	font-size: 12px;
	padding: 1em;
	font-family: $header-font;
	color: $text-color;
	text-align: left;
	position: absolute;
	bottom: 0;
	width: 100%;
	a {
		text-decoration: none;
		color: $text-color;
	}
}

#title {
	font-family: $title-font;
	font-size: 42px;
}

#description {
	font-size: 26px;
	font-style: italic;
}

h1, h2 {
	font-family: $header-font;
}

.modalHeader:hover {
    color: $hover-color; 
}

#sign-me-up-button {
  background: #57bacc; 
}

.content {
	font-family: $content-font;
	font-size: 16px;
}

#homepage-image {
	margin-bottom: 20px;
	border-radius: 10px;
}


 .well-sm {
 	background-color: #f2f2f2;
 	border-radius: 10px;
 }

 #homepage-image {
 	width: 1110px;
 	height: 515px;
 }

#homepage-link {
	color: $nav-color;
}

.modalHeader {
	color: $nav-color;
}

#position {
	color: $nav-color;
	font-family: $header-font;
	font-style: italic;
	font-size: 18px;
}

.teamPics {
	border-radius: 8px;
	border: solid 6px $hover-color;
}

#tagline {
	font-family: $content-font;
	font-size: 18px;
}

@media (max-width: 768px) { 

	#homepage-image {
		display: none;
	}

	main {
    	margin-bottom: 100px;
	}
}

@media (max-width: 992px) {
	#homepage-image {
		width: 680px;
 		height: 375px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	#homepage-image {
		width: 910px;
 		height: 450px;
		
	}
}

#reset-button {
	margin-bottom: 40px;
}

#sign-me-up-button {
	margin-bottom: 40px;
}
