<div ng-controller="FormCtrl">
	<form name="signUpForm" class="form-horizontal" novalidate>
<!-- 		<div class="alert alert-success" ng-show="signUpForm.$submitted" id="Success">
			<strong>Success!</strong> Your form has been submitted.
		</div> -->
		<h1>Want To Join Our Study?</h1>
		<div class="well well-sm">
			<h2>What would participating look like?</h2>
			<p class="content">As a participant with 'Patients as Safeguards', you would be involved in <strong>Phase One</strong>, either an interview or survey. For <strong>Phase Two</strong>, six lucky participants will be chosen at random to participate in a design and prototyping phase for our newly developed technology. Lastly, <strong>Phase Three</strong>, twenty participants will be picked to test our final prototype, and offer their observations in an interview.</p>
			<p class="content">Reminder: </p>
			<ul>
				<li class="content">Participants must have been a patient/caregiver who had an overnight stay in a hospital within the past two years.</li>
				<li class="content">Caregiver is anyone who was closely involved with the patient at the time of the hospital stay, eg: Parent, Spouse, Child.</li>
				<li class="content">Patients must be 7 years of age or older.</li>
			</ul>
			<p class="content">Feedback from our participants is crutial for developing an application that will cut down on patient harm, and thus is invaluable. We thank you for taking the time to fill out this form, signing up for Patients as Safeguards.</p>
		</div>

		<!-- First Name Input -->
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" class="form-control" ng-model="participant.name" placeholder="Your name" required>
			<p id="name-error" ng-show="!signUpForm.firstName.$pristine && signUpForm.name.$invalid"class="help-block">We need to know your name</p>			
		</div>

		<!-- Email Input -->
		<div class="form-group" ng-class="{'has-error': signUpForm.email.$invalid}">
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" placeholder="Your email address" class="form-control" ng-model="participant.email">
			<span id="email-error"class="help-block" ng-show="signUpForm.email.$error.email">Please enter a valid email address</span>
		</div>

		<!-- Caregiver or Patient input -->
		<div class="form-group">
			<label for="roles">Your Role (Caregiver Or Patient):</label> <br>
			<label class="radio-inline">
		      	<input type="radio" name="role" value="caregiver" checked="checked">Caregiver
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="role" value="patient">Patient
		    </label>
			<p id="roles-error" ng-show="!signUpForm.roles.$pristine && signUpForm.roles.$invalid"class="help-block">Please enter the information above</p>			
		</div>		

		<!-- Birthdate Input -->
		<div class="form-group">
			<label for="birthdate">Birthdate</label>

			<input type="text" name="birthdate" id="birthdate" class="form-control" ng-model="participant.birthdate" placeholder="mm/dd/yyyy" required>
			<span id="birthdate-error" class="help-block" ng-show="!signUpForm.birthdate.$pristine &&birthdateInput(birthdate) == false">User too young to apply!</span>

			<input type="text" name="birthdate" id="birthdate" class="form-control" ng-model="birthdate" placeholder="mm/dd/yyyy" required>
			<span id="birthdate-error" class="help-block" ng-show="!signUpForm.birthdate.$pristine &&birthdateInput(birthdate) == false">We need your birthdate!</span>

		</div> 

		<!-- Date spent Overnight in Hospital Input-->
		<div class="form-group">
		  	<label for="dateSpent">Date spent Overnight in Hospital</label>
			<input type="date" name="dateSpent" id="dateSpent" class="form-control" ng-model="participant.dateSpent" placeholder="mm/dd/yyyy">
			<span id="dateSpent-error" class="help-block" ng-show="!signUpForm.dateSpent.$pristine &&dateSpentInput(dateSpent) == false">Please enter a date within the past 2 years.</span>		
		</div>

		<!-- Nature of stay  -->
		<div class="form-group">
			<label for="natureOfStay">Nature of Stay:</label>
			<input type="text" name="natureOfStay" id="natureOfStay" class="form-control" ng-model="participant.natureOfStay" placeholder="Tell us more" required>
			<p id="natureOfStay-error" ng-show="!signUpForm.natureOfStay.$pristine && signUpForm.natureOfStay.$invalid"class="help-block">What was your nature of stay?</p>			
		</div>	

		<!-- Rate your Stay -->
		<div class="form-group">
			<label for="rating">Please Rate Your Stay:</label>
			<div id="star"></div>
		</div>

		<!-- Reset Button -->
		<button type="submit" id="reset-button" class="btn btn-default" ng-click="reset(signUpForm)">Reset</button>
		<!-- Submit Button -->

		<button type="submit" id="sign-me-up-button" class="btn btn-primary" ng-click="submitForm(signUpForm); reset(signUpForm)" ng-disabled="signUpForm.$invalid">Sign Up</button>
	</form>
</div>