<h1>Patients as Safeguards</h1>
<h2>Supporting Collarboration in the Hospital</h2>

<img src="img/patient2.jpg" alt="Female Hospital Patient" style="width:1000px; height:500px">

<h2>Background</h2>
<p>Patient safety is a major problem.</p>
<ul>
  <li>440,000 deaths each year are a result of medical errors.</li>
  <li>And this</li>
  <li>AND this.</li>
</ul>

<h2>Summary</h2>
	<p>Medical errors cause significant mortality and morbidity each year. Although this problem has
	received national attention, including efforts to encourage patients to speak up about errors,
	very little work has actively involved patients in preventing, detecting, and recovering from these
	errors. Patients and their caregivers offer a distinctive perspective on the delivery of care that is
	rarely captured except through ad hoc dialogue with nursing staff and clinicians. Moreover,
	patients and caregivers experience cognitive, interpersonal, and system­level challenges that
	can affect their awareness of potential problems and inhibit their ability to communicate their
	concerns. Enhancing patients’ and caregivers’ access to and engagement with meaningful
	information can help address communication challenges that are often the root cause of many
	adverse events.</p>
	<p>In this 5-year study, we are investigating how patients can become more involved in their care to improve patient safety. Over the course of this work, we hope to understand more about patient and family information needs while they are in the hospital. We will use this data to design new technologies that support patients and caregivers in managing health information and discussing their concerns with doctors, nurses, and other health care providers. The research is taking place at Seattle Children’s Hospital and Virginia Mason Medical Center.</p>

	<h2>Funding</h2>
	<p>Thank you to the Agency for Healthcare Research and Quality.</p>


