<img src="img/ischool-primary-purple-web.png" alt="Information School logo">
<h1>Patients as Safeguards: Understanding the Information Needs of Hospitalized Patients</h1>

<img src="img/patient2.jpg" alt="Female Hospital Patient" style="width:1000px; height:500px">

<h2>Background</h2>
	<p class="content">Patient safety is a major problem. In today’s complex health care system, medical errors cause substantial harm and even death among hundreds of thousands of Americans each year.</p>
	<ul class="content">
	  <li class="content"><strong>440,000</strong> deaths each year are a result of <strong>medical errors</strong>.</li>
	  <li class="content"><strong>10-20 times</strong> that number receive serious <strong>harm</strong>.</li>
	</ul>
	<p class="homepageContent">Although this problem has received national attention, including efforts to encourage patients to speak up about errors, very little work has actively involved patients in preventing, detecting, and recovering from these errors. </p>

<h2>Summary</h2>
	<p class="content">In this 5 year study, we are investigating how patients can become more involved in their care to improve patient safety. Our aims are to (1) Identify information that would increase patients’ and their caregivers’ situation awareness as well as enable them to recognize potential safety concerns, (2) Support patients and their caregivers in capturing and managing information that could identify potential harm, and (3) Determine strategies to support clear communication among patients, caregivers, and health-care providers about these important safety concerns. We will use this data to design new technologies that support patients and caregivers in managing health information and discussing their concerns with doctors, nurses, and other health care providers. The research is taking place at Seattle Children’s Hospital and Virginia Mason Medical Center.</p>

<h2></h2>

<h2>Funding</h2>
	<p class="content">We are funded by a grant from the <a href="http://www.ahrq.gov/">Agency for Healthcare Research and Quality</a>.</p>


