<h1>PATIENTS AS SAFEGUARDS</h1>
<h2>Understanding the Information Needs of Hospitalized Patients</h2>

<img src="img/patient2.jpg" alt="Female Hospital Patient" style="width:1137px; height:515px" id="homepage-image">

<div class="well well-sm">
	<h2>Background</h2>
		<p class="content">Patient safety is a major problem. In today’s complex health care system, medical errors cause substantial harm and even death among hundreds of thousands of Americans each year.</p>
		<ul class="content">
		  <li><strong>440,000</strong> deaths each year are a result of <strong>medical errors</strong>.</li>
		  <li><strong>10-20 times</strong> that number result in serious <strong>harm</strong> to the patient.</li>
		</ul>
		<p class="content">Although this problem has received national attention, including efforts to encourage patients to speak up about errors, very little work has actively involved patients in preventing, detecting, and recovering from these errors. </p>
</div>


<div class="well well-sm" id="blue-well">
	<h2>Summary</h2>
		<p class="content">In this 5 year study, we are investigating how patients can become more involved in their care to improve patient safety. Our aims are to (1) Identify information that would increase patients’ and their caregivers’ situation awareness as well as enable them to recognize potential safety concerns, (2) Support patients and their caregivers in capturing and managing information that could identify potential harm, and (3) Determine strategies to support clear communication among patients, caregivers, and health-care providers about these important safety concerns. We will use this data to design new technologies that support patients and caregivers in managing health information and discussing their concerns with doctors, nurses, and other health care providers. The research is taking place at Seattle Children’s Hospital and Virginia Mason Medical Center.</p>
</div>

<div class="well well-sm">
	<h2>Participate</h2>
		<p class="content">Have you have been hospitalized or taken care of someone in the hospital? We would love to hear about your experience! Please fill out our short questionnaire <a href ="/challenges/safeguard-group-project/#/Participate" id="homepage-link">here</a>.</p>
</div>

<div class="well well-sm">
	<h2>Funding</h2>
		<p class="content">We are funded by a grant from the <a href="http://www.ahrq.gov/" id="homepage-link">Agency for Healthcare Research and Quality</a>.</p>
		<p class = "content">The Agency for Healthcare Research and Quality's (AHRQ) mission is to produce evidence to make health care safer, higher quality, more accessible, equitable, and affordable, and to work within the U.S. Department of Health and Human Services and with other partners to make sure that the evidence is understood and used.</p>
</div>



