<h1 class="title">Team Members</h1>
<p id="tagline">Click each team member's name for more information on their backgrounds and contributions to <b>Patients As Safeguards</b></p>
<br>
<body>
	<div class="container">
		<div id="memberInfo" ng-repeat="member in members | orderBy: 'name'">
			<div class="col-md-4">
			    <img class="teamPics" ng-src="{{member.image}}">
			    <h2 class="modalHeader" style="cursor:pointer" ng-click="memberInfo(member)">{{member.name}}</h2>
			    <br>
			</div>    
	    </div> 
	</div>	
</body>	

