<h1>TEAM MEMBERS</h1>

<body>
	<div class="container">
		<div id="memberInfo" ng-repeat="member in members | orderBy: 'name'">
		    <img class="teamPics" ng-src="{{member.image}}">
		    <br>
		    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="memberInfo()">{{member.name}}</button>
			<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    	<h2>{{member.name}} {{member.title}}</h2>
			    	<p class="content">{{member.bio}}</p>  
			    </div>
			  </div>
			</div> -->
		    <!-- <h2>{{member.name}}</h2> -->
			<!-- <p class="content">{{member.bio}}</p> -->
	    </div> 
	</div>	
</body>	