<h1 class="title">Publications</h1>

<h4>2015</h4>

<div class="well well-sm">
	<p class="content">Kendall, L. , Mishra, S. , Pollack, MD, A. , Aaronson, MD, B. , Pratt, PhD, W.
	<br>
	<strong class="content">Making background work visible: opportunities to address patient information needs in the hospital</strong>
	<br>
	Proceedings of the American Medical Informatics Association (AMIA ’15)</p>
</div>

<div class="well well-sm">
	<p class="content">Mishra, S. , Kendall, L. , Pollack, MD, A. , Aaronson, MD, B. , Pratt, PhD, W.
	<br>
	<strong class="content">“I’m Just the Messenger”: Information Fragmentation from the Inpatient Perspective</strong>
	<br>
	Proceedings of the American Medical Informatics Association (AMIA ’15)</p>
</div>

<div class="well well-sm">
	<p class="content">Khelifi, M. , Mishra, S. , Kendall, L. , Miller, PhD, A. , Pollack, MD, A. , Aaronson, MD, B. , Pratt, PhD, W.
	<br>
	<strong class="content">Understanding the patient through visualization to improve provider-patient communication in hospitals: Know your patient to personalize your communication</strong>
	<br>
	Proceedings of the American Medical Informatics Association (AMIA ’15)</p>
</div>


